# Terraform local state
terraform.tfstate
terraform.tfstate.backup

# Terraform lock info
.terraform.tfstate.lock.info
.terraform.lock.hcl

# Terraform local directory
.terraform/

# terraform errored files
errored.tfstate

# Sensitive crash logs
crash.log
